{% extends 'layouts/base.html' %}

{% block content %}
    {% if name %}
        <h1>Hello {{ name }}!</h1>
    {% else %}
        <h>Hello world!</h>
    {% endif %}

    <div class="row">
{#        <table class="table">#}
{#            <thead>#}
{#            <tr>#}
{#                <th scope="col">#</th>#}
{#                <th scope="col">ID</th>#}
{#                <th scope="col">Unit_price</th>#}
{#                <th scope="col">Title</th>#}
{#                <th scope="col">Collections__title</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for product in products %}#}
{#                <tr>#}
{#                    <th scope="row">{{ forloop.counter }}</th>#}
{#                    <td>{{ product.id }}</td>#}
{#                    <td>{{ product.unit_price }}</td>#}
{#                    <td></td>#}
{#                    <td>{{ product.collections.title }}</td>#}
{#                </tr>#}
{##}
{##}
{##}
{#            {% endfor %}#}
{##}
{##}
{#            </tbody>#}
{#        </table>#}

{#        <li>{{ products }}</li>#}

    {% if queryset %}
        {% for query in queryset %}
            <p>{{ query.new_id }}</p>
        {% endfor %}
    {% endif %}




    </div>
{% endblock %}
